<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Cg2 PBX</display-name>
    <servlet>
        <!--suppress ServletWithoutMappingInspection -->
        <servlet-name>Startup</servlet-name>
        <servlet-class>com.callgrove.pbx.services.Startup</servlet-class>
        <init-param>
            <param-name>asterisk</param-name>
            <param-value>http://callgrove:ijBy8ngTZEo3WFMLFDZgxnu@192.168.96.6:5038</param-value>
        </init-param>
        <init-param>
            <param-name>db</param-name>
            <param-value>jdbc:postgresql://cg2@db/cg2</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Dial</servlet-name>
        <servlet-class>com.callgrove.pbx.services.Dial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listen</servlet-name>
        <servlet-class>com.callgrove.pbx.services.Listen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transfer</servlet-name>
        <servlet-class>com.callgrove.pbx.services.Transfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Originate</servlet-name>
        <servlet-class>com.callgrove.pbx.services.Originate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dial</servlet-name>
        <url-pattern>/dial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listen</servlet-name>
        <url-pattern>/listen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transfer</servlet-name>
        <url-pattern>/transfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Originate</servlet-name>
        <url-pattern>/originate</url-pattern>
    </servlet-mapping>
</web-app>
