<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Cg2 PBX</display-name>
    <context-param>
        <param-name>asterisk</param-name>
        <param-value>http://callgrove:ijBy8ngTZEo3WFMLFDZgxnu@192.168.96.6:5038</param-value>
    </context-param>
    <context-param>
        <param-name>db</param-name>
        <param-value>jdbc:postgresql://cg2@db/cg2</param-value>
    </context-param>
</web-app>

